:root {
  --bg-color: #fef9f9;
  --text-color: #2c3e50;
  --accent-color: #42b883;
  --warn-color: #f85a40;
}

*:focus {
  outline: none;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--light-bg);
  color: var(--text-color);
  overflow-x: hidden;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 1rem;
}

main {
  max-width: 100%;
  width: 600px;
  margin: auto;
}

mark {
  background-color: var(--accent-color);
  color: var(--bg-color);
  display: inline-block;
  padding: 0 0.5rem;
}
